<div class="container">
  <h1 class="header">Респонденты <span class="badge"><%= @users.count %></span></h1>
</div>

<div class="masonry_container container-fluid">
  <% @users.each do |user| %>
    <%= render partial: 'shared/user', locals: { user: user, buttons: 'coordinators/users/buttons' } %>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

