<%= form_for [:admins, object] do |f| %>
  <div class="input-group input-group-sm">
    <%= f.text_field :title, class: 'form-control', placeholder: "Должность", required: 'required' %>
    <span class="input-group-btn">
      <%= f.submit "Подтвердить", class: 'submit_company btn btn-primary' %>
    </span>
  </div>
<% end %>

