<%= form_for [:admin, object] do |f| %>
  <div class="input-group input-group-sm">
    <%= f.text_field :name, class: 'form-control', placeholder: "Имя компании", required: 'required' %>
    <span class="input-group-btn">
      <%= f.submit "Подтвердить", class: 'btn btn-primary' %>
    </span>
  </div>
<% end %>
