<div class="container">
  <h1 class="header">Компании <span class="badge"><%= @companies.count %></span></h1>

  <div id="manage_bar" class="row">
    <div class="col-md-4 col-md-offset-8">
      <a id="add_company" class="btn btn-success">
	<span class="glyphicon glyphicon-plus"></span>
	Добавить компанию
      </a>
    </div>
  </div>

  <div id="add_new_company">
    <%= label_tag :company_name, "Добавить компанию" %>
    <%= render 'form', object: @new_company %>
  </div>
</div>

<div class="masonry_container container-fluid">
  <% @companies.each do |company| %>
    <%= render partial: 'company', locals: { company: company } %>
  <% end %>
</div>
