<div id="manage_bar">
  <div class="btn-group">
    <button class="btn btn-default"></button>
    <button class="btn btn-default"></button>
    <button class="btn btn-default"></button>
  </div>
  <input id="search" type="text"></input>
</div>
