<h1 class="header">Описание сервиса</h1>

<h2><%= Faker::Lorem.sentence %></h2>
<p><%= Faker::Lorem.paragraph(10) %></p>
<blockquote><%= Faker::Lorem.paragraph %></blockquote>
<p><%= Faker::Lorem.paragraph(10) %></p>
