<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
	<h1 class="text-center">Самооценка вовлеченности</h1>
	<hr>
	<p class="text-center">Уважаемые коллеги, Вам предоставляется возможность высказать Ваше мнение о компании, в которой Вы работаете. Поскольку анкета анонимная, Вы можете это сделать максимально честно и открыто. Данная информация поможет внести эффективные изменения в систему работы с персоналом в Вашей компании.</p>
	<%= link_to "Принять участие в опросе", login_path, class: 'btn btn-primary btn-block btn-lg' %>
      </div>
    </div>
  </div>
</div>
