<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
	<h1>Самооценка вовлеченности</h1>
	<hr>
	<p>Система для сбора, хранения и аналитики данных, полученных
	в результате применения методики "Самооценка вовлеченности"</p>
	<%= link_to "Принять участие в опросе", login_path, class: 'btn btn-primary btn-block btn-lg' %>
      </div>
    </div>
  </div>
</div>
