<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="header">Admin dashboard</h1>
      <p><%= Faker::Lorem.paragraph %></p>
    </div>
  </div>
</div>
