.question {
  .buttons {
    margin-top: 5px;
  }
}

#admin_first_questions, #admin_second_questions {
  margin-top: 33px;
}

#add_question {
  margin: 7px;
}

#new_first_question, #new_second_question {
  margin-top: 70px;
}

#new_first_question .panel-heading .form-group {
  margin-right: 20px;
}

#new_1q_criterion {
  width: 400px;
}

#new_1q_number {
  width: 70px;
}

#add_1q, #add_2q {
  margin-top: 25px;
}
