.question {
  .buttons {
    margin-top: 5px;
  }
}

#admin_first_questions, #admin_second_questions {
  margin-top: 20px;
}

#new_first_question, #new_second_question {
  margin-top: 40px;
}

.container_question_form {
  .panel-footer .form-group {
    margin-bottom: 0 !important;
  }

  #field_1q_criterion {
    width: 400px;
  }

  #submit_2q, #submit_1q {
    margin-top: 3px;
  }
}
