.question {
  .buttons {
    margin-top: 5px;
  }
}

#admin_first_questions, #admin_second_questions {
  margin-top: 33px;
}

#add_question {
  margin: 7px;
}

#new_first_question, #new_second_question {
  margin-top: 40px;
}
