#add_user {
  margin: 7px;
}

#all_users {
  margin-top: 70px;
}

#login, #password {
  .input-group-addon {
    width: 100px !important;
  }
}

#generate_login, #generate_password {
  width: 200px !important;
}
