#all_users {
  margin-top: 40px;
}
#user_credentials {
  margin-top: -40px;
}

#login, #password {
  .input-group-addon {
    width: 100px !important;
  }
}

.generate_login, .generate_password {
  width: 200px !important;
}

#user_info {
  margin-top: 40px;
}
