#user_credentials {
  .panel-body {
    text-align: left;
  }
}

#login, #password {
  .input-group-addon {
    width: 100px !important;
  }
}

.generate_login, .generate_password {
  width: 200px !important;
}

#user_info {
  margin-top: 40px;
}
