<div class="container">
  <h1 class="header">
    Опросы для <%= @user.login %> <span class="badge"><%= @surveys.count %></span>
  </h1>
</div>

<section class="masonry_container user_surveys container-fluid">
  <% @surveys.each do |survey| %>
    <%= render partial: 'surveys/survey_thumb', locals: { survey: survey, link: coordinator_user_survey_path(@user, survey) } %>
  <% end %>
</section>
