<div class="panel panel-default masonry_element survey">
  <div class="panel-body">
    <div class="buttons pull-right">
      <%= link_to link, class: 'btn btn-primary show_survey' do %>
	<span class="glyphicon glyphicon-stats"></span>
      <% end %>
    </div>
    <h2 class="h4">
      <%= survey.completed? ? survey.pass_date : "Не завершен" %>
    </h2>
    <% unless params[:user_id] or user_signed_in? %>
      <h2 class="h4">
	<small>РЕСПОНДЕНТ:</small> <%= survey.user.login %>
      </h2>
    <% end %>
  </div>
</div>

