<div class="container">
  <h1 class="header">Завершенные опросы</h1>
</div>

<section class="masonry_container container-fluid">
  <% @surveys.each do |survey| %>
    <%= render partial: 'survey_thumb', locals: { survey: survey, link: survey_path(survey) } %>
  <% end %>
</section>
