<div class="container">
  <h1 class="header">Результат опроса от <%= @survey.pass_date %></h1>

  <%= render 'survey', survey: @survey %>

  <% if @survey.user_agreement.blank? %>
    <div id="agreement">
      <%= render 'surveys/agreement' %>
    </div>
  <% end %>

  <% if @survey.user_email.blank? %>
    <div id="email_field">
      <%= render 'surveys/email_form' %>
    </div>
  <% end %>
</div>
