/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
#console-toggle {
  position: absolute;
  top: 100px;
  left: -47px;
  width: 50px;
  border-right: 3px solid #333;
  padding: 10px;
  background-color: #fff;
  transition: left 0.5s ease-in-out;
  &:hover {
    left: 0;
  }
}

.header {
  @extend .text-center;
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
}

#error_explanation {
  background: #f9d9d8;
  border: 1px solid #ef5b58;
  margin: 20px 0;
  h2 {
    @extend .h3;
    @extend .text-center;
    margin: 0;
    padding: 20px 0;
    background: #c52f24;
    color: #fff;
  }
  ul {
    padding-top: 10px;
  }
}

.alert {
  text-align: center;
}

#new_survey {
  position: absolute;
  left: 50%;
  margin-left: -65px;
}

#accordion a {
  margin-top: -7px;
}

table {
  th {
    text-align: center;
  }
  .assessment {
    width: 70px;
  }
}

#agreement {
  border-top: 1px solid #ddd;
  margin-top: 40px;
  .btn-group {
    width: 100%;
  }
  label {
    width: 33.33%;
  }
  #submit_agreement {
    display: none;
  }
}

#email_field {
  display: none;
}

.new_info {
  .actions {
    display: none;
  }
}

.progress-bar {
  min-width: 5%;
}

.table_radio {
  .submit_question_1 {
    display: none;
  }
}

.new_response {
  padding-top: 20px;
}

#table_results {
  @extend .text-center;
  td:nth-child(2) {
    @extend .text-left;
  }
}

.hidden_question {
  display: none;
}

#finish_survey {
  display: none;
}

#second_questions {
  display: none;
}

.specifying_question {
  h2 {
    @extend .h3;
    @extend .text-center;
  }
  font-weight: bold;
} 

.subject_with_arrows {
  strong {
    padding: 0 50px;
  }
}
