@import 'bootstrap';

#survey_take_container {
  padding: 40px 20px;
}

table {
  .left, .right, .table_radio {
    width: 33.333333%;
  }
  background-color: #fff !important;
  th {
    text-align: center;
  }
  .assessment {
    width: 70px;
  }
}

#email_field {
  margin-top: 20px;
}

#agreement {
  margin-top: 20px;
  .btn-group {
    width: 100%;
  }
  label {
    width: 33.33%;
  }
  #submit_agreement {
    display: none;
  }
}

.progress-bar {
  min-width: 40px;
}

.table_radio {
  .submit_questions_1 {
    display: none;
  }
}

.new_response {
  padding-top: 20px;
}

#table_results {
  @extend .text-center;
  td:nth-child(2) {
    @extend .text-left;
  }
}

.hidden_question {
  display: none;
}

#finish_survey {
  display: none;
}

#second_questions {
  display: none;
}

.specifying_question {
  text-align: center;
  font-style: italic;
  padding: 0 20px 10px 20px;
} 

.subject_with_arrows {
  strong {
    padding: 0 50px;
  }
}

.bar_chart, .point_chart {
  background-color: #fff;
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#progress_line {
  background: linear-gradient(to right, #f8f8f8, #fff, #f8f8f8);
  .progress {
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
  }
}

#show_results_link {
  display: none;
  margin-top: 50px;
}
