<h1 class="header">Респонденты <span class="badge"><%= @users.count %></span></h1>

<%= link_to "Создать респондента", new_admin_user_path, class: 'btn btn-success pull-right', id: 'add_user' %>

<div class="list-group" id="all_users">
  <% @users.each do |user| %>
    <div class="list-group-item user">
      <h2 class="h4 pull-right">
	Surveys <span class="badge"><%= user.completed_surveys.count %></span>
      </h2>
      <h2 class="h4">
	<%= link_to user.login, admin_user_path(user), class: 'show_user' %>
      </h2>
    </div>
  <% end %>
</div>
