<div class="panel panel-default">
  <div class="panel-heading">
    <a href=''>Сохранить в pdf</a>
  </div>
  <div class="panel-body">
    <p>Логин:  <strong><%= params[:user][:login] %></strong></p>
    <p>Пароль: <strong><%= params[:user][:password] %></strong></p>
  </div>
</div>
