<div class="container">
  <h1 class="header">Опросы <span class="badge"><%= @surveys.count %></span>
  </h1>

  <div id="manage_bar" class="row">
    <div class="col-md-4 col-md-offset-4">
      <input id="search_surveys" type="text" placeholder="Поиск"></input>
    </div>
  </div>
</div>

<section id="masonry_container" class="container-fluid">
  <% @surveys.each do |survey| %>
    <%= render partial: 'surveys/survey_thumb', locals: { survey: survey, link: coordinator_user_survey_path(survey.user, survey) } %>
  <% end %>
</section>

<div class="text-center">
  <%= will_paginate @surveys, renderer: BootstrapPagination::Rails %>
</div>
