<div class="container">
  <h1 class="header">Информация о себе</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default" id="info_form">
	<div class="panel-body">
	  <%= render 'form' %>
	</div>
      </div>
    </div>
  </div>
</div>
